    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        color: #666;
    }
    
    @mixin title-span {
        font-size: 100px;
        color: #c8a97e;
        font-family: 'Great Vibes', cursive;
        margin-top: -20px;
        display: inline-block;
    }
    
    @mixin title-h2 {
        font-size: 50px;
        margin-bottom: 24px;
        font-weight: 600;
        margin-top: -60px;
        line-height: 55px;
        color: #000;
    }
    
    //===================The same=====================
    #preloader {
        //load page
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #status {
        //load page
        border: 6px solid #cacaca;
        /* Light grey */
        border-top: 6px solid #fa871b;
        /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 0.8s linear infinite;
        /* is width and height divided by two */
    }
    
    @keyframes spin {
        0% {
            transform: rotate(50deg);
        }
        50% {
            transform: rotate(150deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .container {
        width: 1170px;
        margin: 0 auto;
    }
    
    .none {
        display: none;
    }
    
    .block {
        display: block !important;
    }
    
    .heading__grid,
    .main__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .main__grid {
        align-items: flex-start;
    }
    
    .main__title {
        text-align: center;
        margin-bottom: 80px;
        width: 100%;
        span {
            @include title-span();
            margin-top: -55px !important;
        }
        h2 {
            @include title-h2();
            font-weight: 900;
        }
    }
    
    .main__book-form {
        background: #fff;
        width: 665px;
        padding: 0 48px;
        .main__form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .main__form-group {
                margin-bottom: 20px;
                label {
                    font-size: 17px;
                    color: #000;
                    font-weight: 600;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                input {
                    display: block;
                    width: 269px;
                    height: 52px !important;
                    background: #fff !important;
                    color: #000000 !important;
                    font-size: 16px;
                    padding: 6px 12px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
                input[type=submit] {
                    padding: 16px 48px !important;
                    background: #c8a97e !important;
                    color: #fff !important;
                    display: inline-block;
                    margin: 10px 0 50px 0;
                    border-radius: 3px;
                }
                input[type=submit]:hover {
                    cursor: pointer;
                    background: #fff !important;
                    color: #c8a97e !important;
                    border: 1px solid #c8a97e;
                }
                .main__select {
                    select {
                        display: block;
                        width: 269px;
                        height: 52px !important;
                        background: #fff !important;
                        color: #000000 !important;
                        font-size: 17px;
                        padding: 6px 8px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            }
            .main__form-group:last-child {
                width: 100%;
                text-align: center;
            }
        }
    }
    
    //=================================================
    @keyframes slide {
        0% {
            background-image: url("../images/bg1.jpg");
        }
        33% {
            background-image: url("../images/bg2.jpg");
        }
        67% {
            background-image: url("../images/bg3.jpg");
        }
    }
    
    .stickey {
        background-color: #fff;
        top: 0;
        padding: 10px 0 12px 0 !important;
        border: none !important;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.05);
        .heading__logo-box {
            a {
                color: #111 !important;
            }
        }
        .heading__menu {
            .heading__item {
                a:not(.heading--active):not(.heading--book) {
                    color: #111 !important;
                    transition: all .3s ease-in-out !important;
                }
                .heading--book {
                    border-radius: 0 !important;
                    padding: 15px 20px;
                }
                a:hover:not(.heading--active):not(.heading--book) {
                    color: #e7b672 !important;
                }
            }
        }
    }
    
    //===========================================================================
    //=====================HOME=============================
    .heading {
        height: 100vh;
        background-image: url("../images/bg1.jpg");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        animation: slide 10s infinite;
        .heading__heading-top {
            font-size: 14px;
            color: #e3e3e3;
            padding: 8px 0;
            border-bottom: 0.5px solid #8b8b8bb2;
        }
        .heading__navbar {
            z-index: 100;
            width: 100%;
            position: fixed;
            padding: 24px 0;
            border-bottom: 0.5px solid #8b8b8bb2;
            transition: .3s;
            .heading__grid {
                input[type=checkbox] {
                    display: none;
                }
                .heading__logo-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .heading--checkbtn {
                        display: none;
                        font-size: 20px;
                        cursor: pointer;
                        span {
                            font-size: 17px;
                            font-weight: 500;
                        }
                    }
                    .heading--close {
                        display: none;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
                .heading__menu {
                    list-style: none;
                    .heading__item {
                        display: inline-block;
                        margin-left: 30px;
                        a {
                            color: #fff;
                            font-size: 14px;
                            transition: all .3s ease-in-out;
                            font-weight: 500;
                        }
                        .heading--active {
                            color: #e7b672;
                        }
                        .heading--book {
                            padding: 17px 20px;
                            background-color: #c8a97e;
                            border-radius: 5px;
                        }
                        a:hover:not(.heading--active):not(.heading--book) {
                            color: #e7b672;
                        }
                    }
                }
            }
        }
        .heading__heading-center {
            border-bottom: 0.5px solid #8b8b8bb2;
            padding: 200px 0 30px 0;
            margin-bottom: 40px;
            .heading__grid-1 {
                text-align: center;
                span {
                    font-family: 'Great Vibes', cursive;
                    color: #e7b672;
                    font-size: 80px;
                }
                h1 {
                    font-size: 60px;
                    margin-bottom: 24px;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
        .heading__heading-bottom {
            .container-2 {
                width: 1400px;
                margin: 0 auto;
                .heading__item {
                    text-align: center;
                    .heading__img {
                        img {
                            border-radius: 50%;
                            width: 90px;
                        }
                    }
                    .heading__info {
                        h3 {
                            font-size: 18px;
                            color: #fff;
                            margin-bottom: 5px;
                            font-weight: 500;
                        }
                        p {
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }
                }
            }
        }
    }
    
    //==================Main========================
    .main {
        .main__about {
            padding: 119px 0;
            .main__item-1 {
                width: 635px;
                display: flex;
                justify-content: space-between;
                .main__img-1 {
                    width: 309.49px;
                    height: 518px;
                    background: url("../images/about.jpg") no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin-top: -30px;
                }
                .main__img-2 {
                    width: 309.49px;
                    height: 518px;
                    background: url("../images/about-1.jpg") no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
            .main__item-2 {
                width: calc(100% - 666px);
                span:first-child {
                    @include title-span();
                }
                h2 {
                    @include title-h2();
                }
                p {
                    font-size: 17px;
                    margin-bottom: 16px;
                    line-height: 35px;
                    color: #666;
                }
                a {
                    display: block;
                    font-size: 40px;
                    color: #c8a97e;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
        }
        .main__counter {
            padding-bottom: 90px;
            .main__item-1 {
                width: 825px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .main__number {
                    strong {
                        font-weight: 600;
                        font-size: 44px;
                        color: #c8a97e;
                        display: block;
                        margin-bottom: 2px;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #666;
                    }
                }
            }
            .main__item-2 {
                width: calc(100% - 911px);
                p {
                    line-height: 2;
                }
            }
        }
        .main__services {
            padding: 119px 0;
            background: #fafafa;
            .main__item {
                text-align: center;
                width: 359px;
                span {
                    color: #c8a97e;
                    font-size: 54px;
                }
                h3 {
                    font-size: 24px;
                    margin-bottom: 20px;
                    font-weight: 500;
                    color: #000;
                }
                p {
                    font-size: 17px;
                    line-height: 2;
                }
            }
        }
        .main__special {
            padding: 119px 0;
            .main--wrap {
                flex-wrap: wrap;
                justify-content: flex-start;
                .main--flex-1 {
                    display: flex;
                }
                .main--flex-2 {
                    display: flex;
                }
                .main--width {
                    width: 50%;
                    .main__img {
                        width: 50%;
                        height: 255px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .main__infor {
                        width: 50%;
                        padding: 29px 21px;
                        overflow: hidden;
                        border: 1px solid #e6e6e6;
                        .main--flex {
                            display: flex;
                            justify-content: space-between;
                            h3 {
                                font-size: 20px;
                                color: #000;
                                font-weight: 500;
                            }
                        }
                        span {
                            font-size: 20px;
                            color: #c8a97e;
                            font-weight: 600;
                        }
                        p {
                            font-size: 17px;
                            color: rgba(0, 0, 0, 0.8);
                            line-height: 2;
                            margin: 5px 0 20px 0;
                        }
                        a {
                            display: inline-block;
                            padding: 8px 14px;
                            color: #fff;
                            background: #c8a97e;
                            border: 1px solid #c8a97e;
                        }
                        a:hover {
                            background: #fff;
                            color: #c8a97e;
                        }
                    }
                }
            }
        }
        .main__master-chef {
            padding: 119px 0;
            .main__item {
                width: 270px;
                .main__img {
                    position: relative;
                    padding: 0;
                    display: flex;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .main__contact {
                        text-align: center;
                        width: 100%;
                        background: #000000b0;
                        position: absolute;
                        bottom: 0;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        a {
                            color: #c8a97e;
                            padding: 10px 5px;
                            display: inline-block;
                        }
                    }
                }
                .main__img:hover .main__contact {
                    opacity: 1;
                }
                .main__infor {
                    padding: 20px 0px 0px;
                    h3 {
                        color: #333;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
        .main__book-table {
            background: url("../images/bg_3.jpg") no-repeat;
            background-size: cover;
            background-attachment: fixed;
            padding: 119px 0;
        }
        .main__testimony {
            padding: 119px 0;
            .main__item {
                text-align: center;
                width: 100%;
                .main__img {
                    position: relative;
                    width: 130px;
                    height: 130px;
                    margin: 0 auto 30px;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                    span {
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        font-size: 17px;
                        background: #c8a97e;
                        color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 8px 0 0 0;
                        text-align: center;
                    }
                }
                .main__content {
                    font-size: 17px;
                    margin-bottom: 24px !important;
                    line-height: 2;
                    padding: 16px;
                }
                .main__name {
                    font-size: 22px;
                    color: #000;
                }
                span {
                    font-size: 12px;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }
        .main__blog {
            padding: 119px 0;
            background-color: #fafafa;
            .main__item {
                width: 370px;
                transition: all .3s ease-in-out;
                .main__blog-img {
                    display: flex;
                    .img-1 {
                        background-image: url(../images/image_1.jpg);
                    }
                    .img-2 {
                        background-image: url(../images/image_2.jpg);
                    }
                    .img-3 {
                        background-image: url(../images/image_3.jpg);
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 300px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .main__infor {
                    background-color: #fff;
                    padding: 16px 24px 24px;
                    .main__meta {
                        a {
                            font-size: 15px;
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                    .main__heading {
                        margin-bottom: 16px;
                        font-size: 20px;
                        font-weight: 600;
                        a {
                            color: #000;
                        }
                    }
                    p {
                        display: flex;
                        justify-content: space-between;
                        .main__read-more {
                            font-size: 14px;
                            color: #000;
                        }
                        .main__icon {
                            font-size: 17px;
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
            .main__item:hover {
                transform: scale(1.02);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.055), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
            }
        }
    }
    
    .footer {
        background: #141313;
        padding: 84px 0;
        .footer__grid:first-child {
            margin: 0 0 68px 0;
            display: flex;
            justify-content: space-between;
            .footer__item {
                width: 270px;
                .footer__heading {
                    font-size: 18px;
                    margin-bottom: 40px;
                    color: #fff;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 16px;
                    color: rgba(255, 255, 255, 0.7);
                    line-height: 2;
                }
                span {
                    display: inline-block;
                    text-align: center;
                    .footer__icon {
                        border-radius: 50%;
                        color: #fff;
                        display: inline-block;
                        background-color: #000;
                        width: 40px;
                        height: 40px;
                        padding: 4px 0 0 0;
                        font-size: 22px;
                        transition: all .3s ease-in-out;
                    }
                    .footer__icon:hover {
                        background-color: #c8a97e;
                        color: #fff;
                    }
                }
                .footer__list-hour {
                    list-style: none;
                    .footer--flex {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 6px 0;
                        span {
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.7);
                        }
                    }
                }
                .footer__img-food {
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        width: 85px;
                        height: 100px;
                        background-size: cover;
                        background-position: center;
                    }
                }
                .footer__subscribe-form {
                    .footer__form-group {
                        input {
                            width: 100%;
                            border-radius: 2px;
                            width: 100%;
                            background: rgba(255, 255, 255, 0.1) !important;
                            border: none;
                            color: rgba(255, 255, 255, 0.7) !important;
                            text-align: center;
                            font-size: 17px;
                            height: 50px;
                            outline: none;
                            font-weight: 500;
                        }
                        input[type=text] {
                            padding: 6px 12px;
                            margin: 0 0 8px;
                        }
                        input[type=submit] {
                            padding: 6px 16px;
                            background-color: #c8a97e !important;
                            cursor: pointer;
                        }
                        input::placeholder {
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }
                }
            }
        }
        .footer__grid:last-child {
            margin: 0 0 40px 0;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    
    //======================================================================
    //===============----ABOUT-------=============================
    .heading-about {
        height: 450px !important;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.404)), url('../images/bg_3.jpg');
        animation: none !important;
        background-attachment: fixed;
        .heading__heading-bottom {
            padding: 120px 0;
            margin: 150px 0 0 0;
            .heading__grid {
                justify-content: center !important;
                flex-direction: column;
                h1 {
                    font-size: 50px;
                    font-family: 'Poppins', sans-serif;
                    color: #fff;
                    font-weight: 700;
                }
                p {
                    a,
                    span {
                        margin: 0 10px;
                        text-transform: uppercase;
                        color: #fff;
                        display: inline-block;
                        font-size: 13px;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
        }
    }
    
    //======================================================================
    //===============----STORIES-------=============================
    .main__blog {
        .main--flex-wrap {
            flex-wrap: wrap;
            .main__item {
                margin: 0 0 30px 0;
            }
        }
    }
    
    //======================================================================
    //===============----CONTACT-------=============================
    .main {
        .main__contact-form {
            .main__map {
                width: 50%;
                .main__map-img {
                    width: 100%;
                }
            }
            .main__form-group {
                width: 50%;
                padding: 48px;
                h2 {
                    margin-bottom: 48px;
                    color: #333;
                }
                .main__form {
                    input:not(.main--submit) {
                        width: 100%;
                        padding: 6px 12px;
                        margin-bottom: 20px;
                        height: 52px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        font-size: 16px;
                    }
                    textarea {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        font-size: 16px;
                        width: 100%;
                        padding: 6px 12px;
                        margin-bottom: 20px;
                    }
                    input:focus {
                        outline: 0.2px solid #000;
                    }
                    input::placeholder,
                    textarea::placeholder {
                        font-size: 18px;
                        font-family: 'Poppins', sans-serif;
                    }
                    input[type=submit] {
                        padding: 16px 48px;
                        color: #fff;
                        background-color: #c8a97e;
                        border: none;
                        font-size: 17px;
                        outline: none;
                    }
                    input[type=submit]:hover {
                        background-color: #fff;
                        color: #c8a97e;
                        border: 1px solid #c8a97e;
                    }
                }
            }
        }
        .main__contact-form {
            .main__map {
                width: 50%;
                .main__map-img {
                    width: 100%;
                }
            }
            .main__form-group {
                width: 50%;
                padding: 48px;
                h2 {
                    margin-bottom: 48px;
                    color: #333;
                }
                .main__form {
                    input:not(.main--submit) {
                        width: 100%;
                        padding: 6px 12px;
                        margin-bottom: 20px;
                        height: 52px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        font-size: 16px;
                    }
                    textarea {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        font-size: 16px;
                        width: 100%;
                        padding: 6px 12px;
                        margin-bottom: 20px;
                    }
                    input:focus {
                        outline: 0.2px solid #000;
                    }
                    input::placeholder,
                    textarea::placeholder {
                        font-size: 18px;
                        font-family: 'Poppins', sans-serif;
                    }
                    input[type=submit] {
                        padding: 16px 48px;
                        color: #fff;
                        background-color: #c8a97e;
                        border: none;
                        font-size: 17px;
                        outline: none;
                    }
                    input[type=submit]:hover {
                        background-color: #fff;
                        color: #c8a97e;
                        border: 1px solid #c8a97e;
                    }
                }
            }
        }
        .main__contact-info {
            padding: 119px 0;
            h1 {
                color: #333;
                margin-bottom: 30px;
            }
            p {
                color: #333;
                font-size: 17px;
                line-height: 35px;
            }
            a {
                color: #c8a97e;
            }
        }
    }
    
    //============================================================
    //======================Reservation===========================
    .main {
        .main__oder {
            .main__item {
                width: 50%;
                .main__map-img {
                    img {
                        width: 100%;
                    }
                }
                .main__book-form {
                    .main__title {
                        margin-top: 50px;
                        margin-bottom: 50px;
                        text-align: left;
                        span {
                            margin-top: 0 !important;
                        }
                    }
                    .main__form-group:last-child {
                        text-align: left;
                    }
                }
            }
        }
    }
    
    //===========--Menu--=======================
    .main {
        .main__tabs-menu {
            padding: 119px 0;
            .active {
                color: #fff !important;
                background: #c8a97f !important;
                position: relative;
            }
            .main__tabs {
                list-style: none;
                li {
                    width: calc(100% / 6);
                    text-align: center;
                    width: 100%;
                    font-size: 22px;
                    font-family: 'Poppins', sans-serif;
                    color: #000;
                    background: #fff;
                    padding: 13px 10px;
                    font-weight: 500;
                    transition: all .3s ease-in-out;
                }
                li:hover {
                    cursor: pointer;
                    background: #c09d6d;
                    color: #fff;
                }
                li.active:after {
                    content: "";
                    position: absolute;
                    left: 86px;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-top: 11px solid #c8a97f;
                }
            }
            .main__special {
                padding: 60px 0;
                .main__item {
                    display: none;
                }
            }
        }
    }
    
    //====================Responsive===========
    @media screen and (max-width:1200px) {
        .container {
            width: 90%;
        }
        .container-2 {
            width: 100% !important;
        }
        .heading {
            .heading__heading-center {
                border-bottom: none;
                margin-top: 200px;
                padding: 140px 0 30px 0;
            }
            .heading--hide {
                display: none;
            }
        }
        .main {
            .main__about {
                width: 100%;
                .main__item-1 {
                    width: 55%;
                    .main__img-1,
                    .main__img-2 {
                        width: (96% /2);
                    }
                }
                .main__item-2 {
                    width: 42%;
                }
            }
            .main__counter {
                .main__item-1 {
                    width: 65%;
                }
                .main__item-2 {
                    width: 30%;
                }
            }
            .main__services {
                .main__item {
                    width: (95% / 3) !important;
                }
            }
            .main__master-chef {
                .main__item {
                    width: (95% / 4) !important;
                    margin-bottom: 30px;
                }
            }
            .main__blog {
                .main__item {
                    width: (95% /3) !important;
                }
            }
            .main__oder {
                .main__item {
                    img {
                        height: 600px;
                    }
                    .main__book-form {
                        width: 100% !important;
                        .main__form {
                            width: 100%;
                            .main__form-group {
                                width: 47%;
                                input {
                                    width: 100%;
                                }
                                select {
                                    width: 100%;
                                }
                            }
                            .main__form-group:last-child {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
            .main__tabs-menu {
                .main__grid {
                    flex-direction: row;
                }
                .main__tabs {
                    li.active:after {
                        content: none;
                    }
                }
            }
        }
        .footer {
            .footer__item {
                width: (80% / 4) !important;
                margin-bottom: 30px;
                .footer__img-food {
                    a {
                        width: (98% / 3);
                    }
                }
            }
            .footer--width {
                width: 28% !important;
            }
        }
    }
    
    @media screen and (max-width:991px) {
        .container {
            width: 93%;
        }
        .heading {
            width: 100%;
            .heading__grid {
                width: 100%;
                flex-direction: column;
            }
            .heading__heading-top {
                display: none;
            }
            .heading__navbar {
                background-color: #000;
                .heading__logo-box {
                    width: 100%;
                    .heading--checkbtn {
                        display: block !important;
                    }
                }
                .heading__menu {
                    display: none;
                    width: 100%;
                    .heading__item {
                        display: block !important;
                        margin: 0 !important;
                        padding: 15px 0 !important;
                        .heading--book {
                            display: block;
                        }
                    }
                }
                #check:checked~.heading__menu {
                    display: block;
                }
                #close:checked~.heading__menu {
                    display: none;
                }
            }
            .heading__navbar.stickey {
                background-color: #fff;
                top: 0;
                padding: 10px 0 12px 0 !important;
                border: none !important;
                box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.05);
                .heading__logo-box {
                    a {
                        color: #111 !important;
                    }
                }
                .heading__menu {
                    .heading__item {
                        a:not(.heading--active):not(.heading--book) {
                            color: #111 !important;
                            transition: all .3s ease-in-out !important;
                        }
                        .heading--book {
                            border-radius: 0 !important;
                            padding: 15px 20px;
                        }
                        a:hover:not(.heading--active):not(.heading--book) {
                            color: #e7b672 !important;
                        }
                    }
                }
            }
            .heading__heading-center {
                border-bottom: none;
                margin-top: 200px;
                padding: 140px 0 30px 0;
                span {
                    font-size: 80px !important;
                }
                h1 {
                    font-size: 30px !important;
                }
            }
            .heading--hide {
                display: none;
            }
        }
        .main {
            .main__about {
                width: 100%;
                .main__item-1 {
                    width: 52%;
                    .main__img-1,
                    .main__img-2 {
                        width: (95% /2);
                    }
                }
                .main__item-2 {
                    width: 45%;
                }
            }
            .main__counter {
                .main__item-1 {
                    width: 52%;
                }
                .main__item-2 {
                    width: 45%;
                }
            }
            .main__services {
                .main__item {
                    width: (95% / 3) !important;
                }
            }
            .main__special {
                .main--flex-1,
                .main--flex-2 {
                    width: 100% !important;
                }
            }
            .main__master-chef {
                .main__grid {
                    flex-wrap: wrap;
                }
                .main__item {
                    width: (95% / 2) !important;
                    margin-bottom: 30px;
                }
            }
            .main__book-table {
                .main__book-form {
                    width: 70%;
                    .main__form {
                        .main__form-group {
                            width: 45%;
                            input {
                                width: 100%;
                            }
                            select {
                                width: 100%;
                            }
                        }
                        .main__form-group:last-child {
                            text-align: center;
                            width: 100%;
                            input {
                                width: 250px;
                            }
                        }
                    }
                }
            }
            .main__blog {
                .main__item {
                    width: (95% /3) !important;
                }
            }
            .main__oder {
                .main__item {
                    img {
                        height: 600px;
                    }
                    .main__book-form {
                        width: 100% !important;
                        .main__form {
                            width: 100%;
                            .main__form-group {
                                width: 45%;
                                input {
                                    width: 100%;
                                }
                                select {
                                    width: 100%;
                                }
                            }
                            .main__form-group:last-child {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
            .main__tabs-menu {
                .main__tabs {
                    li.active:after {
                        content: none;
                    }
                }
            }
        }
        .footer {
            .footer__grid:first-child {
                flex-wrap: wrap;
            }
            .footer__item {
                width: (95% / 2) !important;
                .footer__img-food {
                    a {
                        width: 109px !important;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:767px) {
        .container {
            width: 90%;
        }
        .heading {
            width: 100%;
            .heading__grid {
                width: 100%;
                flex-direction: column;
            }
            .heading__heading-top {
                display: none;
            }
            .heading__navbar {
                background-color: #000;
                .heading__logo-box {
                    width: 100%;
                    .heading--checkbtn {
                        display: block !important;
                    }
                }
                .heading__menu {
                    display: none;
                    width: 100%;
                    .heading__item {
                        display: block !important;
                        margin: 0 !important;
                        padding: 15px 0 !important;
                        .heading--book {
                            display: block;
                        }
                    }
                }
                #check:checked~.heading__menu {
                    display: block;
                }
                #close:checked~.heading__menu {
                    display: none;
                }
            }
            .heading__navbar.stickey {
                background-color: #fff;
                top: 0;
                padding: 10px 0 12px 0 !important;
                border: none !important;
                box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.05);
                .heading__logo-box {
                    a {
                        color: #111 !important;
                    }
                }
                .heading__menu {
                    .heading__item {
                        a:not(.heading--active):not(.heading--book) {
                            color: #111 !important;
                            transition: all .3s ease-in-out !important;
                        }
                        .heading--book {
                            border-radius: 0 !important;
                            padding: 15px 20px;
                        }
                        a:hover:not(.heading--active):not(.heading--book) {
                            color: #e7b672 !important;
                        }
                    }
                }
            }
            .heading__heading-center {
                border-bottom: none;
                margin-top: 200px;
                padding: 120px 0 30px 0;
                span {
                    font-size: 80px !important;
                }
                h1 {
                    font-size: 30px !important;
                }
            }
            .heading--hide {
                display: none;
            }
        }
        .main {
            .main__grid {
                flex-direction: column;
            }
            .main__about {
                .main__item-1 {
                    width: 100%;
                    .main__img-1 {
                        margin: 0 !important;
                        width: 50%;
                    }
                    .main__img-2 {
                        width: 50%;
                    }
                }
                .main__item-2 {
                    padding: 48px 0 0 0;
                    width: 100%;
                    span:first-child {
                        font-size: 90px !important;
                    }
                    h2 {
                        font-size: 40px;
                    }
                    a {
                        font-size: 30px;
                    }
                }
            }
            .main__counter {
                .main__item-1 {
                    text-align: center;
                    width: 100%;
                    flex-direction: column;
                    .main__number {
                        margin: 0 0 20px 0;
                    }
                }
                .main__item-2 {
                    text-align: center;
                    width: 100%;
                }
            }
            .main__services {
                .main__grid {
                    align-items: center;
                }
                .main__item {
                    padding: 10px 0;
                    width: 100% !important;
                }
            }
            .main__special {
                .main--flex-2 {
                    flex-direction: row-reverse;
                }
                .main--width {
                    width: 100% !important;
                    .main__img {
                        width: 100% !important;
                    }
                    .main__infor {
                        width: 100% !important;
                    }
                }
            }
            .main__master-chef {
                .main__item {
                    width: 100% !important;
                    margin-bottom: 30px;
                }
            }
            .main__book-table {
                .container {
                    width: 80% !important;
                    .main__book-form {
                        padding: 0 20px !important;
                        width: 100% !important;
                        .main__form {
                            .main__form-group {
                                width: 100%;
                                input {
                                    width: 100% !important;
                                }
                                select {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
            .main__testimony {
                .main__item {
                    width: 100% !important;
                }
            }
            .main__blog {
                .main__item {
                    width: 100% !important;
                    margin-bottom: 30px;
                }
            }
            .main__contact-form {
                .main__grid {
                    flex-direction: column-reverse;
                }
                .main__map {
                    width: 100%;
                }
                .main__form-group {
                    width: 100%;
                    padding: 0;
                    margin: 60px 0 30px 0;
                }
            }
            .main__tabs-menu {
                .main__grid {
                    flex-direction: column;
                }
                .main__tabs {
                    li {
                        background: #f6f1e9;
                        margin-bottom: 5px;
                    }
                    li.active:after {
                        content: none;
                    }
                }
            }
            .main__oder {
                .main__grid {
                    flex-direction: column-reverse;
                    .main__item {
                        width: 100%;
                        .main__book-form {
                            padding: 0 30px;
                            width: 100% !important;
                            .main__form {
                                .main__form-group {
                                    width: 100%;
                                    input {
                                        width: 100%;
                                    }
                                    .main__select {
                                        select {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            .container {
                width: 93% !important;
            }
            .footer__grid:first-child {
                flex-direction: column;
                .footer__item {
                    width: 100% !important;
                    span {
                        margin-bottom: 30px;
                    }
                    .footer__list-hour {
                        margin: 0 0 24px;
                        span {
                            margin-bottom: 0 !important;
                            width: 50%;
                            text-align: left;
                        }
                    }
                    .footer__img-food {
                        margin-bottom: 30px;
                        a {
                            width: (100% /3) !important;
                        }
                        .footer--mbe {
                            width: 100% !important;
                        }
                    }
                }
            }
            .footer__grid:last-child {
                span {
                    display: block;
                }
            }
        }
    }
    
    //===============Mobile=======================
    @media screen and (max-width:480px) {
        .container {
            width: 90%;
        }
        .main__title {
            text-align: center;
            margin-bottom: 40px;
            span {
                @include title-span();
                font-size: 90px !important;
                margin-top: -55px !important;
            }
            h2 {
                font-size: 40px !important;
                @include title-h2();
                font-weight: 900;
            }
        }
        .heading {
            width: 100%;
            .heading__grid {
                flex-direction: column;
            }
            .heading__heading-top {
                display: none;
            }
            .heading__navbar {
                background-color: #000;
                .heading__logo-box {
                    width: 100%;
                    .heading--checkbtn {
                        display: block !important;
                    }
                }
                .heading__menu {
                    display: none;
                    width: 100%;
                    .heading__item {
                        display: block !important;
                        margin: 0 !important;
                        padding: 15px 0 !important;
                        .heading--book {
                            display: block;
                        }
                    }
                }
                #check:checked~.heading__menu {
                    display: block;
                }
                #close:checked~.heading__menu {
                    display: none;
                }
            }
            .heading__navbar.stickey {
                background-color: #fff;
                top: 0;
                padding: 10px 0 12px 0 !important;
                border: none !important;
                box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.05);
                .heading__logo-box {
                    a {
                        color: #111 !important;
                    }
                }
                .heading__menu {
                    .heading__item {
                        a:not(.heading--active):not(.heading--book) {
                            color: #111 !important;
                            transition: all .3s ease-in-out !important;
                        }
                        .heading--book {
                            border-radius: 0 !important;
                            padding: 15px 20px;
                        }
                        a:hover:not(.heading--active):not(.heading--book) {
                            color: #e7b672 !important;
                        }
                    }
                }
            }
            .heading__heading-center {
                padding: 140px 0 30px 0;
                border-bottom: none;
                h1 {
                    font-size: 30px !important;
                }
            }
        }
        .main {
            .main__grid {
                flex-direction: column;
            }
            .main__about {
                .main__item-1 {
                    width: 100%;
                    .main__img-1 {
                        margin: 0 !important;
                        width: 50%;
                    }
                    .main__img-2 {
                        width: 50%;
                    }
                }
                .main__item-2 {
                    padding: 48px 0 0 0;
                    width: 100%;
                    span:first-child {
                        font-size: 90px !important;
                    }
                    h2 {
                        font-size: 40px;
                    }
                    a {
                        font-size: 30px;
                    }
                }
            }
            .main__counter {
                .main__item-1 {
                    text-align: center;
                    width: 100%;
                    flex-direction: column;
                    .main__number {
                        margin: 0 0 20px 0;
                    }
                }
                .main__item-2 {
                    text-align: center;
                    width: 100%;
                }
            }
            .main__services {
                .main__item {
                    padding: 10px 0;
                    width: 100%;
                }
            }
            .main__special {
                .main--flex-1 {
                    flex-direction: column;
                }
                .main--flex-2 {
                    flex-direction: column-reverse;
                }
                .main--width {
                    width: 100% !important;
                    .main__img {
                        width: 100% !important;
                    }
                    .main__infor {
                        width: 100% !important;
                    }
                }
            }
            .main__master-chef {
                .main__item {
                    width: 100% !important;
                    margin-bottom: 30px;
                }
            }
            .main__book-table {
                .container {
                    width: 100% !important;
                    .main__book-form {
                        padding: 0 20px !important;
                        width: 100% !important;
                        .main__form {
                            .main__form-group {
                                width: 100%;
                                input {
                                    width: 100% !important;
                                }
                                select {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
            .main__testimony {
                .main__item {
                    width: 100% !important;
                }
            }
            .main__blog {
                .main__item {
                    width: 100% !important;
                    margin-bottom: 30px;
                }
            }
            .main__contact-form {
                .main__grid {
                    flex-direction: column-reverse;
                }
                .main__map {
                    width: 100%;
                }
                .main__form-group {
                    width: 100%;
                    padding: 0;
                    margin: 60px 0 30px 0;
                }
            }
            .main__tabs-menu {
                .main__grid {
                    flex-direction: column;
                }
                .main__tabs {
                    li {
                        background: #f6f1e9;
                        margin-bottom: 5px;
                    }
                    li.active:after {
                        content: none;
                    }
                }
            }
            .main__oder {
                .main__grid {
                    flex-direction: column-reverse;
                    .main__item {
                        width: 100%;
                        .main__book-form {
                            padding: 0 30px;
                            width: 100% !important;
                            .main__form {
                                .main__form-group {
                                    width: 100%;
                                    input {
                                        width: 100%;
                                    }
                                    .main__select {
                                        select {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            .container {
                width: 93% !important;
            }
            .footer__grid:first-child {
                flex-direction: column;
                .footer__item {
                    width: 100% !important;
                    span {
                        margin-bottom: 30px;
                    }
                    .footer__list-hour {
                        margin: 0 0 24px;
                        span {
                            margin-bottom: 0 !important;
                            width: 50%;
                            text-align: left;
                        }
                    }
                    .footer__img-food {
                        margin-bottom: 30px;
                        a {
                            width: (100% /3) !important;
                        }
                        .footer--mbe {
                            width: 100% !important;
                        }
                    }
                }
            }
            .footer__grid:last-child {
                span {
                    display: block;
                }
            }
        }
    }